{% include "header.html" %}

<h1 class="main-head" style="text-align: center; margin: 30px; font-family: auto; font-weight: bold;">Edit Employee</h1>
{% if message %}
  <div class="alert alert-success guide-box" role="alert" style="margin: 2%; text-align: center; font-size: 150%;">
      Employee Edited Successfully
  </div>
{% endif %}

{% if error %}
  <div class="alert alert-danger" role="alert" style="margin: 2%; text-align: center; font-size: 150%;">
      Please Add Another Password
  </div>
{% endif %}

<form method = "post">
    {% csrf_token %}
    <div class="container text-center">
        <div class="row">

          <div class="col">
            <div class="mb-3">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="fname" name="fname" value={{emp.firstname}} required>
              </div>
          </div>

          <div class="col">
            <div class="mb-3">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname" value={{emp.lastname}} required>
              </div>
          </div>

        </div>

        <div class="row">

            <div class="col">
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" value={{emp.emaill}} required>
                </div>
            </div>
  
            <div class="col">
              <div class="mb-3">
                  <label for="passw" class="form-label">Password</label>
                  <input type="password" class="form-control" id="passw" name="passw" value={{emp.passwordd}} required>
                </div>
            </div>
            
        </div>

        <div class="row">

            <div class="col">
              <div class="mb-3">
                  <label for="phone" class="form-label">Phone Number</label>
                  <input type="number" class="form-control" id="phone" name="phone" value={{emp.phone}} required>
                </div>
            </div>
  
            <div class="col">
              <div class="mb-3">
                  <label for="addr" class="form-label">Address</label>
                  <input type="text" class="form-control" id="addr" name="addr" value="{{emp.address}}" required>
                </div>
            </div>
            
        </div>

        <div class="row">

            <div class="col">
              <div class="mb-3">
                  <label for="j-title" class="form-label">Job Title</label>
                  <input type="text" class="form-control" id="j-title" name="j-title" value="{{emp.job_title}}" required>
                </div>
            </div>
  
            <div class="col">
              <div class="mb-3">
                  <label for="sal" class="form-label">Salary</label>
                  <input type="number" class="form-control" id="sal" name="sal" value={{emp.salary}} required>
                </div>
            </div>
            
        </div>

        <div class="row">

            <div class="col">
              <div class="mb-3">
                  <label for="j-date" class="form-label">Joined Date</label>
                  <input type="date" class="form-control" id="j-date" name="j-date" value={{emp.joined_date|safe}} required>
                </div>
            </div>
  
            <div class="col">
              <div class="mb-3">
                  <label for="dep" class="form-label">Department</label>
                  <select class="form-select" id="dep" name="dep" aria-label="Default select example" required>
                    <option value={{emp.dept}} selected>{{emp.dept}}</option>
                    {% for department in Dep %}
                    <option value="{{department.dept_name}}">{{department.dept_name}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            
        </div>

        <div class="row">

            <div class="col">
              <div class="mb-3">
                  <input type="submit" class="form-control add-emp" value="Edit" style="background-color: gray; color: white;">
                </div>
            </div>
            
        </div>
    </div>

</form>

{% include "footer.html" %}