{% include "header.html" %}

    <div class="container text-center" id="main-div">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-secondary inner-btn"><a href="{% url 'ViewEmpDetails' pw %}" class="btn-link">View My Details</a></button>
          </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary inner-btn"><a href="{% url 'EditEmpDetails' pw %}" class="btn-link">Edit My Details</a></button>
            </div>
          </div>
    </div>

{% include "footer.html" %}